h1 {
	font-size: 75px;
	font-family: "Prestige Elite Std";
	color: purple;
	text-align: right;
	font-weight:bold;
	background-color: white;
	background-position: (500,1000);
}

p{
	font-size: 30px;
	font-family: "Prestige Elite Std";
	text-align: right;
	background-color: white;
	color: purple;
}

body{
	background-image:url('zigzag.PNG');
}