h1{
	font-size: 75px;
	font-family: "Prestige Elite Std";
	color: purple;
}

h2{
	font-size: 40px;
	font-family: "Prestige Elite Std";
	color: purple;
}

h3{
	font-size: 30px;
	font-family: "Prestige Elite Std";
	color: purple;
}

h4{
	font-size: 20px;
	font-family: "Prestige Elite Std";
	color: purple;
}

p{
	font-size: 10px;
	font-family: "Prestige Elite Std";
	color: purple;
}