title{
	font-size: 75px;
	font-family: "Prestige Elite Std";
	color: purple;
}
h1{
	font-size: 75px;
	font-family: "Prestige Elite Std";
	color: purple;
}

h2{
	font-size: 40px;
	font-family: "Prestige Elite Std";
	color: purple;
	font-weight: bold;
	font-style: underline;
}

h3{
	font-size: 25px;
	font-family: "Prestige Elite Std";
	color: purple;
}

h4{
	font-size: 20px;
	font-family: "Prestige Elite Std";
	color: purple;
}

p{
	font-size: 15px;
	font-family: "Prestige Elite Std";
	color: purple;
}

h5{
	font-size: 15px;
	font-family: "Prestige Elite Std";
	color: purple;
	list-style-type: disc;
}

body{
	background-color: #ccccff
}
